body {
  font-family: sans-serif;
  margin:0;
}
.item{
  position:absolute;
}
a {
  text-decoration: none;
}

.headerButton {
  height:30px;
  width:30px;
  background-color: white;
  background-size: cover;
  display:inline-block;
  margin: 25px 10px 10px 10px;
  border-radius:5px;
  image-rendering: pixelated;
}

.logoword{
  width:88px;
  height:30px;
  background-color: white;
  background-size: cover;
  display:inline-block;
  margin: 25px 4px 10px 4px;
  border-radius:5px;
  image-rendering: pixelated;
  background-image: url('./icons/logoword.png')
}

.home{
  background-image: url('./icons/logoicon.png')
}

.logout{
  background-image: url('./icons/logoutico.png')
}

.login{
  background-image: url('./icons/login.png')
}

.browse{
  background-image: url('./icons/browse.png')
}

.schedule{
  background-image: url('./icons/transparent_schedule.png')
}

.recommend{
  background-image: url('./icons/transparent_recommend.png')
}

.manage{
  background-image: url('./icons/manage.png')
}

.admin{
  background-image: url('./icons/admin.png')
}

.homelistimage{
  margin: 10px;
  width: 100%;
  maxWidth: 120px;
  margin: 0;
  maxHeight: 120px;
}

.homelistcontainer{
  height:150px;
  width:150px;
  margin:10px;
  cursor:pointer;
  border:solid black 2px;
  padding:5px;
}

@media only screen and (max-width: 530px) {
  .homelistanchor{
    font-size: x-small;
  }

  .homelistcontainer{
    height:98px;
    width:98px;
    margin:3px;
    cursor:pointer;
    border:solid black 2px;
    padding:5px;
  }
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 5px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.hidden{
  visibility: hidden;
}

.overflowhidden{
  overflow:hidden;
}

.zout{
  z-index:12;
}

#castbutton {
  float: right;
  margin: 0 2px;
  width: 40px;
  height: 32px;
  opacity: 0.7;
  border: none;
  outline: none;
  background-color: yellowgreen;
}

#castbutton:hover {
  --disconnected-color: white;
  --connected-color: white;
}

.largevideobutton{
  font-size:0px;
  height: 80px;
  width: 80px;
  margin:10px;
  cursor:pointer;
  background-color: white;
  background-size: cover;
  display:inline-block;
  border-radius:5px;
  image-rendering: pixelated;
}

.videobutton{
  font-size:0px;
  height: 30px;
  width: 30px;
  cursor:pointer;
  background-color: white;
  background-size: cover;
  display:inline-block;
  margin: 10px 4px;
  border-radius:5px;
  image-rendering: pixelated;
}

.subbutton{
  height: 25px;
  width: 25px;
  margin: 14px 8px;
}

@media only screen and (max-width: 700px) {
  .videobutton{
    height: 20px;
    width: 20px;
    margin: 4px 2px;
  }
  .subbutton{
    height: 18px;
    width: 18px;
    margin: 4px 8px;
  }
  #castbutton {
    margin: 0 2px;
    width: 20px;
    height: 16px;
  }
}

.cast{
  background-image: url('./icons/cast.png')
}

.mute{
  background-image: url('./icons/mute.png')
}

.unmute{
  background-image: url('./icons/unmute.png')
}

.fullscreen{
  background-image: url('./icons/fullscreen2.png')
}

.upchannel{
  background-image: url('./icons/uparrow.png')
}

.downchannel{
  background-image: url('./icons/downarrow.png')
}

.keypad{
  background-image: url('./icons/keypad.png')
}

.plippi{
  margin:0 3px;

  background-image: url('./icons/plippi.png')
}

.chatsubmit{
  background-image: url('./icons/chatsubmit.png')
}

.chat{
  background-image: url('./icons/chat.png')
}

.listpix{
  background-image: url('./icons/listpix.png')
}

.createpix{
  background-image: url('./icons/pencil.png')
}

.favorite{
  background-image: url('./icons/favorite.png')
}

.notfavorite{
  background-image: url('./icons/notfavorite.png')
}

.abcchat{
  margin:0 3px;
  background-image: url('./icons/abc.png')
}

.cancel{
  background-image: url('./icons/cancel.png');
  background-size: cover;  
  height:40px;
  width:40px;
  margin: 0 4px; 
  margin-left:auto; 
}

.logoutico{
  background-image: url('./icons/logoutico.png')
}

.editico{
  height: 40px;
  width: 40px;
  background-size: cover;
  background-image: url('./icons/editpix.png')
}

.userico{
  background-image: url('./icons/userico.png')
}

.loginico{
  background-image: url('./icons/loginico.png')
}

.board{
  background-image: url('./icons/colors.png')
}

.codeEntrance{
  background-image: url('./icons/kidicon.png') 
}

.rooms{
  background-image: url('./icons/mgroom.png')
}

.studentLogin{
  background-image: url('./icons/kidicon.png')
}

.createPix{
  background-image: url('./icons/pencil.png')
}

.myPix{
  background-image: url('./icons/face.png')

}

.loginSignup{
  background-image: url('./icons/teach.png')
}

.discover{
  background-image: url('./icons/roomselect.png')
}

.gify{
    background-image: url('./icons/reel.png')
}

.earthleave{
    background-image: url('./icons/roomleave.png')
}

.flickall{
  background-image: url('./icons/all.png')
}

.flickfavorite{
  background-image: url('./icons/favorite.png')
}

.flickhot{
  background-image: url('./icons/hot.png')
}

.flicknew{
  background-image: url('./icons/new.png')
}

.question{
  background-image: url('./icons/question.png');
}

.extendPage{
  height: 40px;
  width: 40px;
  background-size: cover;
  margin: 10px auto;
  background-image: url('./icons/downArrow.png');
  display: block;
}

.emptyroom{
  top:-10px;
  left:-15px;
  height: 60px;
  width: 60px;
  vertical-align: bottom;
  background-color: white;
  background-size: cover;
  background-image: url('./icons/emptyroom.png');
  border-radius:3px;
  border-style:solid;
  border-color:black;
  border-width:1px;
  position:absolute;
}

.studentcard{
  top:-5px;
  left:-10px;
  height: 60px;
  width: 60px;
  vertical-align: bottom;
  background-color: white;
  background-size: cover;
  background-image: url('./icons/hollowperson.png');
  border-radius:3px;
  border-style:solid;
  border-color:black;
  border-width:1px;
  position:absolute;
}

.selectedDefaultRoom{
  height: 130px;
  width: 130px;
  background-size: cover;
  display:block;
  margin:auto;
  background-image: url('./icons/home.png');
  border-radius:20px;
  border-style:solid;
  border-color:black;
  border-width:4px;
}


#pli{
  height: 40px;
  width: 40px;
  background-image: url('./icons/pli.png');
  background-size: cover;
  margin:0;
  display:inline-block;
}

#ppi{
  height: 40px;
  width: 40px;
  background-image: url('./icons/ppi.png');
  background-size: cover;
  margin:0;
  display:inline-block;
}

#pix{
  height: 40px;
  width: 40px;  
  background-image: url('./icons/pix.png');
  background-size: cover;
  margin:0;
  display:inline-block;
}

#mainlogo{
  height: 40px;
  width: 40px;  
  background-image: url('./icons/mainlogo.png');
  background-size: cover;
  margin:0 2px;
  display:inline-block;
  background-color:white;
  border-radius:2px;
}

.zcancel{
  background-image: url('./icons/cancel.png');
  background-size: cover;  
  height:40px;
  width:40px;
  margin: 0 4px; 
}

.nextArrow{
  margin: 10px;
  height: 40px;
  width: 40px;
  background-size: cover;
  background-image: url('./icons/nextArrow.png');
}

.prevArrow{
  margin: 10px;  
  height: 40px;
  width: 40px;
  background-size: cover;
  background-image: url('./icons/prevArrow.png');
}

.deleteBtn{
  height: 40px;
  width: 40px;
  background-size: cover;
  background-image: url('./icons/delete.png');  
}

.downloadBtn{
  height: 40px;
  width: 40px;
  background-size: cover;
  background-image: url('./icons/download.png');  
}

.fa-facebook {
  background-image: url('./icons/facebook.png');
}

.fa-twitter {
  background-image: url('./icons/twitter.png');  
  background-color:white;
}

.canvascreate > td{
  cursor: url('./icons/pencil.cur'), auto;
}
