body {
  font-family: sans-serif;
  margin:0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#castbutton {
  float: right;
  margin: 14px 7px 14px 7px;
  width: 40px;
  height: 32px;
  opacity: 0.7;
  border: none;
  outline: none;
  background-color: yellowgreen;
}

#castbutton:hover {
  --disconnected-color: white;
  --connected-color: white;
}

.videobutton{
  height: 40px;
  width: 40px;
  background-color: white;
  background-size: cover;
  display:inline-block;
  margin: 14px 7px;
  border-radius:5px;
  image-rendering: pixelated;
}

.cast{
  background-image: url('./icons/cast.png')
}

.mute{
  background-image: url('./icons/mute.png')
}

.unmute{
  background-image: url('./icons/unmute.png')
}

.fullscreen{
  background-image: url('./icons/fullscreen2.png')
}

.upchannel{
  background-image: url('./icons/uparrow.png')
}

.downchannel{
  background-image: url('./icons/downarrow.png')
}

.keypad{
  background-image: url('./icons/keypad.png')
}

.plippi{
  background-image: url('./icons/plippi.png')
}

.chatsubmit{
  background-image: url('./icons/chatsubmit.png')
}
